* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: rgba(71, 73, 85, 1);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 23px 0;
  width: 1077px;
  text-align: center;
}
