* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgba(71, 73, 85, 1);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.app {
  display: flex;
  margin: 0 auto;
  padding: 23px 0;
  width: 1077px;
  text-align: center;
  background-color: rgb(184, 183, 183);
}

.search_input {
  width: 100%;
  padding: 18px 0 15px 26px;
  border: none;
  background-color: rgba(90, 92, 102, 1);
  color: rgba(178, 183, 191, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  z-index: 0;
}
.search_input_wrapper {
  display: flex;
  width: 631px;
  min-height: 52px;
  position: relative;
}
.search_input_wrapper::after {
  content: "";
  background: url(./assets/Search-Icon.svg);
  width: 21px;
  height: 21px;
  z-index: 1;
  position: absolute;
  top: 15px;
  right: 24px;
}
